<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    {% load static %}
    <title>Login and Registration</title>
    <link rel="stylesheet" text="text/css" href="{% static 'main/style.css' %}">
  </head>
  <body>
    <div class="container">
        <div>
          <h3>Register</h3>
          <form action="/user" method="post">
            {% csrf_token %}
            <div>
              <label>Name</label>
              <input type="text" name="name">
            </div>
            <div>
              <label>Email</label>
              <input type="text" name="email">
            </div>
            <div>
              <label>Password</label>
              <input type="password" name="password">
            </div>
            <div>
              <label>Password Confirmation</label>
              <input type="password" name="password_confirmation">
            </div>
            <div>
              <input type="submit" value="Register">
            </div>
          </form>
        </div>
        <div>
          <h3>Login</h3>
          <form action="/sessions" method="post">
            {% csrf_token %}
            <div>
              <label>Email</label>
              <input type="text" name="email">
            </div>
            <div>
              <label>Password</label>
              <input type="password" name="password">
            </div>
            <div>
              <input type="submit" value="Login">
            </div>
          </form>
        </div>
    </div>
  </body>
</html>
